*
{
	margin: 0;
	padding: 0;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover
{
	color: #007bff!important;
}
.navbar
{
	background: #fff;
}
.navbar-toggler
{
	boder: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
	@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

}
/*----slider---*/
#slider
{
	width: 100%;
}
.carousel-caption
{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5
{
	color: #fff;
	font-size: 42px;
}
/* People */
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

#people
{
	padding-top: 50px;
	color: #555;
}

.people-content
{
	padding-top: 20px;
}

/* Artwork*/
#artwork
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}

.artwork-content
{
	padding-top: 20px;
}

.img-banksy {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/*------contact------*/
#contact
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}
.contact-form
{
	padding: 15px;
}
.form-control
{
	border-radius: 0 !important;
	border: none !important;
}
::placeholder
{
	color: #999 !important;
}
.follow
{
	background: #fff;
	padding: 10px;
	margin: 15px;
}
.contact-info .fa
{
	margin: 10px;
	color: #007bff;
	font-weight: bold;
}
/*footer*/
#footer
{
	background: #333;
	color: #fff;
	padding: 12px;
}










